/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 11.36.44
    Author     : St3
*/


    html, body, #page{
        position: relative;
        background-color: #e9ebee;
        font: 17px/25px  "Open Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .imgprofiloside {
    float: left;
    margin-top: 3px;
    margin-right: 3px;
    max-height: 20px;
    max-width: 20px;
    border-radius: 100%;
    }
    
    
    iframe{
        width: 400px;
        height: 280px;
        border-radius: 15px; 
        overflow: hidden;

    }

    h1{
        margin-top: 0px; 
        color: #111111;
        font-size: 35px;
        font-weight: bold;
    }

    h2{
        margin-top: 0px; 
        color: #333333;
        font-size: 25px;
        font-weight: bold;
    }


    h3{
        margin-top: 0px; 
        color: #333333;
        font-size: 15px;
        font-weight: bold;
    }


    input:focus, textarea:focus{
        outline: none;
        border-color: #333745;
        box-shadow: 0 0 1px #333745;
    }

    button{
        padding: .5em;
        color: white;
        background-color: #333745;
        text-shadow: 1px 1px 1px #000;
        border: solid thin #333745;
        border-radius: 5px;

    }
    
    /*tasto plus*/
    
    #inline{
        float:left;
        width: 100%;
      }
    
    #tastoplus{
    clear: both;
    }
    
    
    #plus{
        clear: both;
        width:20px;
        height:20px;        
    }
    
    .serside{
        width: 130px;
        float: left;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 3px;
    }
    
    
    .serside input{
        border-radius: 10px;
    }
    
/*tasto plus*/
    #frase{
        background-color: white;
        float: left;
        width:515px;
        height:50px;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 50px;
        padding-left: 15px;
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        overflow: hidden;
        clear: both;
    }
    
    
        #frase h2{
        padding-bottom: -10px; 
        color: #365899;
        font-size: 20px;
        font-weight:bold;
        font-style: italic;
        
        
    }
    
    #frase h3{
        
        margin-top: -20px; 
        color: #365899;
        font-size: 15px;
        font-weight:bold;
        font-style: italic;
        
        
    }

    #loggedOut, #invalidDataWarning{
        font: 30px/25px  "Open Sans", Arial, sans-serif;
        text-align: center;
        font-weight: bold;
        color: red;
    }

    .close {
        
        color: red;
        text-indent: -2px;
        width:20px;
        height:20px;
        float:right;
    }           
    input.clos{
        visibility:hidden;
        display: none;
    }


    #loggedOut:before, #invalidDataWarning:before{

        content: url("img/warning.png");
    }

    #postinviato{
        font: 20px/25px  "Open Sans", Arial, sans-serif;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        color: #365899;
        float: left;
    }

    #validate{
        font: 20px/25px  "Open Sans", Arial, sans-serif;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        color: #365899;
    }

    #divnuovopost{
        background-color: white;
        float: left;
        width:500px;
        height:150px;
        margin-bottom: 5px;
        margin-left: 50px;
        padding-left: 15px;
        padding-right: 15px;        
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        overflow: hidden;
        clear: both;
    }
    .nuovopost input, .nuovopost textarea{
        float:right;
        width: 90%;      
        border-radius: 5px;
        padding-left: 2px;       
    }

    .nuovopost textarea{
        height: 60px;            
    }

    .nuovopost input{
        margin-top: 2px;
        height: 20px;            
    }
    .nuovopost button{

        float: right;
        margin-top: 2px; 
    }


@media only screen and (min-width: 1024px){

    
    /*regole header*/
    header{
        top: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        margin: auto;
        width: 99.9%;
        height: 46px; 
        background-color: #333745;
        display: block;
        box-shadow: 3px 3px 3px #333745;
    }
    header ul, header li{
        padding-left: 0px;

    }

    #title {

        height: 40px;
        padding-left: 5px;
        min-width:150px;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        color: greenyellow;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 3px 2px 2px grey;
    }

    h1#title{
        margin-top: 0px; 
        color: #111111;
        font-weight: bold;
    }

    .navbar { 
        padding-left: 5px;
        padding-right:5px;
        float: left;
        width: auto;
        display: inline;
    }

    .navbar ol, .navbar li{
        display: inline-block;
        color: white;
    }

    .qui:link, .qui:visited{
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-right: 5px;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 1.0px 1.0px 1.0px grey;
    }



    .nonqui:link, .nonqui:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-right: 5px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 1.0px 1.0px 1.0px grey;
    }

    .navleft{
        float:left;
        margin-left: 50px;
        display: inline;
    }

    .navright{
        margin-right: 1px;
        float:right;
        display: inline;
    }


    a.imgelement {

        text-align: center;
    }


/*    a.imgelement:before{

        content: url("img/profile-pictures.png");
        padding-left: 4px;
        padding-right: 2px;
    }*/

    /*regole sidebar*/
    #sidebar{
        margin-top: 60px;
        margin-left: 5px;
        width:150px;
        height: 88%;
        float: left;
        position: fixed;
        overflow: hidden;
        white-space:nowrap;
        background-color: #e9ebee;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        clear: both;
        padding: 5px;
        z-index: 1;

    }

    h1#sidebar{
        margin-top: 0px;

    }

    #sidebar ol, #sidebar li, #sidebar ul{
        list-style-type: none;
        margin-left: 0px; 
        padding-left: 0px;

    }


    .barralaterale a:link, .barralaterale a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }

    .botdiv {
        float:left;
        width: 100%;
        border-radius: 5px;
        padding: 3px;
    }


    .botdiv:hover{
        background-color: white;
        float:left;
        width: 100%;
        border-radius: 5px;

    }

    #persone, #gruppi{

        float:left;
    }



    #persone a {

        text-align: center;

    }

/*    #persone a::before{

        content: url("img/profile-verde.png");
        padding-left: 4px;
        padding-right:5px;
        vertical-align: middle;

    }*/

    /*regole content*/
    #content{

        display: block;
        float:left;
        margin-top: 56.4px;
        margin-left: 160px;
        width: 80%;
        height: 90%;
        padding-left: 1px;
    }

    .profilo a:link, .profilo a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }

    .img_post img{
        border-radius: 5px;
        width: 80%; 
        height: 50%;
        margin-bottom: 5px;
        overflow: hidden;
        float:left;
    }

    .img_post iframe{
        border-radius: 5px;
        margin-bottom: 5px;
        overflow: hidden;
    }


    .newpost{
        background-color: white;
        float: left;
        min-width:500px;
        max-width:500px;
        min-height:300px;
        max-height:600px;
        margin-bottom: 5px;
        margin-left: 50px;
        padding-left: 15px;
        padding-right: 15px;        
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        overflow: hidden;
        clear: both;
     
    }

    .imgprofilo{
        float:left;
        max-height: 40px;
        max-width: 40px;
        transition: 0.2s;
        border-radius: 100%;

    }

    .nameprofilo {
        height: 40px;
        width: 100%;
        margin-left: 45px; 
        padding-top: 5px;
        padding-left: 5px;
    }

    .testopost {
        float:left;
        clear: both;
    }

    #divlogin {
        display: table;
        clear: both;
        margin-top: 100px;
        margin-left: 26%;
        max-width:  400px;
        min-width:  400px;
        min-height:  400px;
        max-height:  400px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;

    }


    #passworddimenticata{
        padding: 10px; 
    }

    #passworddimenticata a:link, #passworddimenticata a:visited {
        font: 14px/25px "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
        margin: 4%;
    }

    #divform label {

        max-width:  360px;
        min-width:  360px;
        margin-left: 17px;
        float:left;
    }

    #texar input{
        max-width:  360px;
        min-width:  360px;
        margin-left: 17px;   
        float:left;

    }

    #divform button{
        padding: .5em;
        margin-top: 5px;
        margin-left: 18px;
        width: 362px;
        color: white;
        background-color: #333745;
        text-shadow: 1px 1px 1px #000;
        border: solid thin #333745;
        border-radius: 5px;

    }

    /*regole pagina profilo*/
    .form {
        min-width:500px;
        max-width:720px;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 20px;
        padding: 10px;
        height: 96%;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        float:left;

        clear:both;
    }

    .immaginiprofilo{
        float:left;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 0 0 1px #333745;
        transition: 0.2s;
    }

    .immaginiprofilo:hover, .imgprofilo:hover{
        border-radius: 10px;
        box-shadow: 0 0 1px #333745;

    }

    .immaginiprofilo img, .imgprofilo img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: 0.2s;
    }

    .immaginiprofilo img:hover, .imgprofilo img:hover{
        border-radius: 10px;
    }



    .areaform {
        float:left;
        width: 550px;
        height: 550px;
        padding: 10px;        
    }

    .textform{
        width: 100%;
        height: 27px;
        float:left;
        padding: 2px;
        margin-top: 10px;
        margin-left: 5px;
        vertical-align:middle;
        clear:both;
    }

    .textform input, .textform textarea{
        float:right;
        height: 25px;
        width: 55%;      
        border-radius: 5px;
        padding-left: 2px;       
    }

    .textform label{
        width: 200px;        
    }

    .form button{
        width: 100%;
        margin-top: 20px;
        margin-left: 5px;        
    }

    #box_descrizione {
        float:left;
        width: 90%;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
        background-color: #e9ebee;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        clear: both;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #box_descrizione img{
        border-radius: 10px;
    }

    #box_descrizione h1, #box_descrizione h2, #box_descrizione h3{
        color: #333745;
    }

    #box_descrizione a:link, #box_descrizione a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }


    #box_descrizione il, #box_descrizione li, #box_descrizione ul{
        list-style-type: none;
        margin-left: 0px; 
        padding-left: 0px;

    }
    a.dice:before{

        content: url("img/d20.png");
        padding-left: 4px;
        padding-right: 2px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px){

    html, body, #page{
        position: relative;
        background-color: #e9ebee;
        font: 17px/25px  "Open Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100%;
    }


    iframe{
        width: 400px; 
        height: 280px;
        border-radius: 15px; 
        overflow: hidden;

    }



    h1{
        margin-top: 0px; 
        color: #111111;
        font-size: 35px;
        font-weight: bold;
    }

    h2{
        margin-top: 0px; 
        color: #333333;
        font-size: 25px;
        font-weight: bold;
    }


    h3{
        margin-top: 0px; 
        color: #333333;
        font-size: 15px;
        font-weight: bold;
    }


    input:focus, textarea:focus{
        outline: none;
        border-color: #333745;
        box-shadow: 0 0 1px #333745;
    }

    button{
        padding: .5em;
        color: white;
        background-color: #333745;
        text-shadow: 1px 1px 1px #000;
        border: solid thin #333745;
        border-radius: 5px;

    }
    /*regole header*/
    header{
        top: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        margin: auto;
        width: 99.9%;
        height: 46px; 
        background-color: #333745;

        box-shadow: 3px 3px 3px #333745;
        overflow: hidden;
    }
    header ul, header li{
        padding-left: 0px;

    }

    #title {

        height: 40px;
        padding-left: 5px;
        min-width:150px;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        color: greenyellow;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 3px 2px 2px grey;
    }

    h1#title{
        margin-top: 0px; 
        color: #111111;
        font-weight: bold;
    }

    .navbar { 
        padding-left: 5px;
        padding-right:5px;
        float: left;
        width: auto;
        display: inline;
    }

    .navbar ol, .navbar li{
        display: inline-block;
        color: white;
    }

    .qui:link, .qui:visited{
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-right: 5px;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 1.0px 1.0px 1.0px grey;
    }



    .nonqui:link, .nonqui:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-right: 5px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 1.0px 1.0px 1.0px grey;
    }


    .navleft{
        float:left;
        margin-left: 50px;
        display: inline;
    }

    .navright{
        margin-right: 1px;
        float:right;
        display: inline;
    }


    a.imgelement {

        text-align: center;
    }

/*
    a.imgelement:before{

        content: url("img/profile-pictures.png");
        padding-left: 4px;
        padding-right: 2px;
    }*/

    /*regole sidebar*/
    #sidebar{
        margin-top: 60px;
        margin-left: 5px;
        width:150px;
        height: 88%;
        float: left;
        position: fixed;
        overflow: hidden;
        white-space:nowrap;
        background-color: #e9ebee;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        clear: both;
        padding: 5px;
        z-index: 1;

    }

    h1#sidebar{
        margin-top: 0px;

    }

    #sidebar ol, #sidebar li, #sidebar ul{
        list-style-type: none;
        margin-left: 0px; 
        padding-left: 0px;

    }


    .barralaterale a:link, .barralaterale a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }

    .botdiv {
        float:left;
        width: 100%;
        border-radius: 5px;
        padding: 3px;
    }


    .botdiv:hover{
        background-color: white;
        float:left;
        width: 100%;
        border-radius: 5px;

    }



    #persone, #gruppi{

        float:left;
    }



    #persone a {

        text-align: center;

    }

/*    #persone a::before{

        content: url("img/profile-verde.png");
        padding-left: 4px;
        padding-right:5px;
        vertical-align: middle;

    }*/

    /*regole content*/
    #content{

        display: block;
        float:left;
        margin-top: 51px;
        margin-left: 160px;
        width: 80%;
        height: 90%;
        clear: both;
    }

    .profilo a:link, .profilo a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }

    .img_post img{
        border-radius: 5px;
        width: 400px; 
        height: 250px;
        margin-bottom: 5px;
        overflow: hidden;
        float:left;
    }

    .img_post iframe{
        border-radius: 5px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    /*
        .profilo a:hover{
            text-decoration: underline;
        }*/

    .newpost{
        background-color: white;
        float: left;
        width: 400px;
        min-height: 200px; 
        max-height:620px;               
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;
        margin-left: 10%;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        padding-top: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        clear: both;
        
    }

    .imgprofilo{
        float:left;
        max-height: 40px;
        max-width: 40px;
        transition: 0.2s;
        border-radius: 100%;
    }

    .nameprofilo {
        height: 40px;
        width: 100%;
        margin-left: 45px; 
        padding-top: 10px;
        padding-left: 5px;
    }

    .testopost {
        float:left;
        clear: both;
    }

    #divlogin {
        display: table;
        clear: both;
        margin-top: 100px;
        margin-left: -10%;
        width:  400px;
        min-height:  400px;
        max-height:  400px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;

    }


    #passworddimenticata{
        padding: 10px; 
    }

    #passworddimenticata a:link, #passworddimenticata a:visited {
        font: 14px/25px "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
        margin: 4%;
    }

    #divform label {

        max-width:  360px;
        min-width:  360px;
        margin-left: 17px;
        float:left;
    }

    #texar input{
        max-width:  360px;
        min-width:  360px;
        margin-left: 17px;   
        float:left;

    }

    #divform button{
        padding: .5em;
        margin-top: 5px;
        margin-left: 18px;
        width: 362px;
        color: white;
        background-color: #333745;
        text-shadow: 1px 1px 1px #000;
        border: solid thin #333745;
        border-radius: 5px;

    }

    /*regole pagina profilo*/
    .form {
        min-width:500px;
        max-width:720px;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 20px;
        padding: 10px;
        height: 96%;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        float:left;
        clear:both;
    }

    .immaginiprofilo{
        float:left;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 0 0 1px #333745;
        transition: 0.2s;
    }

    .immaginiprofilo:hover, .imgprofilo:hover{
        border-radius: 10px;
        box-shadow: 0 0 1px #333745;

    }

    .immaginiprofilo img, .imgprofilo img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: 0.2s;
    }

    .immaginiprofilo img:hover, .imgprofilo img:hover{
        border-radius: 10px;
    }



    .areaform {
        float:left;
        width: 550px;
        height: 550px;
        padding: 10px;        
    }

    .textform{
        width: 100%;
        height: 27px;
        float:left;
        padding: 2px;
        margin-top: 10px;
        margin-left: 5px;
        vertical-align:middle;
        clear:both;
    }

    .textform input, .textform textarea{
        float:right;
        height: 25px;
        width: 55%;      
        border-radius: 5px;
        padding-left: 2px;       
    }

    .textform label{
        width: 200px;        
    }

    .form button{
        width: 100%;
        margin-top: 20px;
        margin-left: 5px;        
    }

    #box_descrizione {
        float: left;
        width: 90%;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
        background-color: #e9ebee;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        clear: both;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 3%;
        padding-right: 3%;
    }

    #box_descrizione img{
        border-radius: 10px;
    }

    #box_descrizione h1, #box_descrizione h2, #box_descrizione h3{
        color: #333745;
    }

    #box_descrizione a:link, #box_descrizione a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }


    #box_descrizione il, #box_descrizione li, #box_descrizione ul{
        list-style-type: none;
        margin-left: 0px; 
        padding-left: 0px;

    }
    a.dice:before{

        content: url("img/d20.png");
        padding-left: 4px;
        padding-right: 2px;
    }
}

@media only screen and (max-width: 480px){


    html, body{

        position: relative;
        background-color: #e9ebee;
        font: 17px/25px  "Open Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #page{
        top:0;
        height: 100%;    
    }

    iframe{
        width: 400px;
        height: 280px;
        border-radius: 15px; 
        overflow: hidden;

    }



    h1{
        margin-top: 0px; 
        color: #111111;
        font-size: 35px;
        font-weight: bold;
    }

    h2{
        margin-top: 0px; 
        color: #333333;
        font-size: 25px;
        font-weight: bold;
    }


    h3{
        margin-top: 0px; 
        color: #333333;
        font-size: 15px;
        font-weight: bold;
    }


    input:focus, textarea:focus{
        outline: none;
        border-color: #333745;
        box-shadow: 0 0 1px #333745;
    }

    button{
        padding: .5em;
        color: white;
        background-color: #333745;
        text-shadow: 1px 1px 1px #000;
        border: solid thin #333745;
        border-radius: 5px;
    }

    /*regole header*/
    header{
        top: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        margin: auto;
        width: 99.9%;
        height: 46px; 
        background-color: #333745;
        display: block;
        overflow: hidden;
    }

    header ul, header li{
        padding-left: 0;

    }

    #title {

        height: 20px;
        padding-left: 5px;
        width:50px;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        color: greenyellow;
        font-size: 20px;
        font-weight: bold;
    }

    h1#title{
        margin-top: 0px; 
        color: #111111;
        font-weight: bold;
    }

    .navbar { 
        height: 52px;
        padding-left: 5px;
        padding-right:5px;
        padding-bottom: 5px;
        float: left;
        width: auto;
        display: inline;
    }

    .navbar ul, .navbar li, .navbar ol{
        display: inline-block;
        color: white;
        margin-bottom: 10px;
    }

    .qui:link, .qui:visited{
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-right: 5px;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }



    .nonqui:link, .nonqui:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        margin-right: 5px;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    .navleft{
        float:left;
        margin-left: 70px;
        display: inline;
    }

    .navright{
        margin-right: 1px;
        float:right;
        display: inline;
    }


    a.imgelement {

        text-align: center;
    }


/*    a.imgelement:before{

        content: url("img/profile-pictures.png");
        padding-left: 4px;
        padding-right: 2px;
    }*/

    /*regole sidebar*/
    #sidebar{
        visibility: hidden;

    }

    h1#sidebar{
        margin-top: 0px;

    }

    #sidebar ol, #sidebar li{
        list-style-type: none;
        margin-left: 0px; 
        padding-left: 0px;

    }


    .barralaterale a:link, .barralaterale a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }

    .botdiv {
        float:left;
        width: 100%;
        border-radius: 5px;
    }


    .botdiv:hover{
        background-color: white;
        float:left;
        width: 100%;
        border-radius: 5px;

    }



    #persone, #gruppi{

        float:left;
    }



    #persone a {

        text-align: center;

    }

/*    #persone a::before{

        content: url("img/profile-verde.png");
        padding-left: 4px;
        padding-right:5px;
        vertical-align: middle;

    }*/

    /*regole content*/
    #content{

        display: block;
        float:left;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .profilo a:link, .profilo a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }

    .newpost{
        background-color: white;
        float: left;
        width: 400px;
        min-height: 200px; 
        max-height:600px;
        margin-bottom: 5px;
        margin-left: 3%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        padding-top: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        clear:both;
    }

    .img_post img{
        border-radius: 5px;
        width: 80%; 
        height: 50%;
        margin-bottom: 5px;
        overflow: hidden;
        float:left;
    }


    .imgprofilo{
        float:left;
        max-height: 40px;
        max-width: 40px;
        transition: 0.2s;
        border-radius: 100%;
    }

    .nameprofilo {
        float:left;
        height: 30px;
        max-width: 100%;
        margin-left: 5px; 
        padding-top: 5px;
        padding-left: 5px;
    }

    .testopost {
        float:left;
        clear: both;
    }

    #divlogin {
        display: table;
        clear: both;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        min-height: 400px;
        max-height: 400px;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 10px;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
    }

    #divform label {

        max-width:  360px;
        min-width:  360px;
        margin-left: 17px;
        float:left;
    }

    #passworddimenticata{
        padding: 10px; 
    }

    #passworddimenticata a:link, #passworddimenticata a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }


    #texar input {

        width: 95%;
        margin-left: 3%;
    }

    #divform button {
        padding: .5em;
        margin-top: 10px;
        margin-left: 3%;
        width: 96%;
        color: white;
        background-color: #333745;
        text-shadow: 1px 1px 1px #000;
        border: solid thin #333745;
        border-radius: 5px;
    }

    /*regole pagina profilo*/
    .form {
        width: 85%;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 15px;
        padding: 10px;
        height: 96%;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        float: left;
        clear: both;
    }

    .immaginiprofilo{
        float:left;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 0 0 1px #333745;
        transition: 0.2s;
    }

    .immaginiprofilo:hover, .imgprofilo:hover{
        border-radius: 10px;
        box-shadow: 0 0 1px #333745;

    }

    .immaginiprofilo img, .imgprofilo img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: 0.2s;
    }

    .immaginiprofilo img:hover, .imgprofilo img:hover{
        border-radius: 10px;
    }



    .areaform {
        float:left;
        width: 550px;
        height: 550px;
        padding: 10px;        
    }

    .textform{
        width: 100%;
        height: 27px;
        float:left;
        padding: 2px;
        margin-top: 10px;
        margin-left: 5px;
        vertical-align:middle;
        clear:both;
        overflow: hidden;
    }

    .textform input, .textform textarea {
        float: right;
        height: 25px;
        width: 25%;
        border-radius: 5px;
        padding-left: 2px;
        margin-right: 35%;
    }
    .textform label{
        width: 200px;        
    }

    .form button{
        width: 65%;
        margin-top: 20px;
        margin-left: 5px;        
    }

    #box_descrizione {
        float: left;
        width: 80%;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
        background-color: #e9ebee;
        box-shadow: 3px 3px 20px #333745;
        border-radius: 10px;
        clear: both;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #box_descrizione img{
        border-radius: 10px;
        width: 100%;
        overflow: hidden;
    }

    #box_descrizione h1, #box_descrizione h2, #box_descrizione h3{
        color: #333745;
    }

    #box_descrizione a:link, #box_descrizione a:visited {
        font: 14px/25px  "Open Sans", Arial, sans-serif;
        font-weight: bold;
        color: #365899;
        cursor: pointer;
        text-decoration: none;
    }


    #box_descrizione il, #box_descrizione li, #box_descrizione ul{
        list-style-type: none;
        margin-left: 0px; 
        padding-left: 0px;

    }
    a.dice:before{

        content: url("img/d20.png");
        padding-left: 4px;
        padding-right: 2px;
    }

    .form{
        overflow: hidden;

    }
    textarea{
        overflow: hidden;
    }

    .areaform{

        overflow: hidden;
    }
}




